.ui-header .ui-title {
	margin-right: 10%;
	margin-left: 10%;
}
.ui-btn-inner {
	text-overflow: initial; /* Get rid of the ellipsis */
	padding-left: 5px; /* Play with padding to make max use of available button width */
	font-size: 12px;
}
.poi-label{
	/*width:300px;*/
	font-size: 11px;
	/*padding-bottom: 10px;*/
}
.ui-btn-text {
	font-size: 12px; /* Play with font size of the text */
	text-align: center;
	white-space: normal; !important
}
h3 {
	font-size: 13px;
	text-align: left;
	padding-left: 10px;
	padding-bottom: 10px;
}
.ui-bar-c {
	font-size: 13px;
	height: 40px;
	vertical-align: middle;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.ui-collapsible {
	margin-bottom: -10px;
	margin-left: 20px;
}

.streetInfo {
	font-size: 12px;
	margin-top: -5px;
	
}
.firstRouteStep{
	font-size: 12px;
	margin-left: 5px;
}
.ui-icon-crosshair {
	background: url('images/crosshair.png') no-repeat rgba(0, 0, 0, 0.4) !important;
	background-size: 26px 26px;
	margin: -5px;
}
#lblStreet {
	vertical-align: middle;
}
#lblPlace {
	vertical-align: middle;
}

#lblplz {
	vertical-align: middle;

}
#topbar{
	width: 100%;
}
.ui-radio{
	font-size: 11px;
}
#locationButton{
	background-color:#A9A9A9;
}
